<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.northking.cloudplatform.dao.testexecute.CltRoundMapper" >
  <resultMap id="BaseResultMap" type="net.northking.cloudplatform.domain.testexecute.CltRound" >
    <id column="ROUND_ID" property="roundId" jdbcType="VARCHAR" />
    <result column="ROUND_NAME" property="roundName" jdbcType="VARCHAR" />
    <result column="PLAN_ID" property="planId" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="ORDER_SEQ" property="orderSeq" jdbcType="INTEGER" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="LOGIC_DEL" property="logicDel" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROUND_ID, ROUND_NAME, PLAN_ID, START_DATE, END_DATE, ORDER_SEQ, MEMO, CREATE_USER, 
    CREATE_DATE, UPDATE_USER, UPDATE_DATE, LOGIC_DEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.northking.cloudplatform.domain.testexecute.CltRoundExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CLT_ROUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CLT_ROUND
    where ROUND_ID = #{roundId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CLT_ROUND
    where ROUND_ID = #{roundId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.northking.cloudplatform.domain.testexecute.CltRoundExample" >
    delete from CLT_ROUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.northking.cloudplatform.domain.testexecute.CltRound" >
    insert into CLT_ROUND (ROUND_ID, ROUND_NAME, PLAN_ID, 
      START_DATE, END_DATE, ORDER_SEQ, 
      MEMO, CREATE_USER, CREATE_DATE, 
      UPDATE_USER, UPDATE_DATE, LOGIC_DEL
      )
    values (#{roundId,jdbcType=VARCHAR}, #{roundName,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{orderSeq,jdbcType=INTEGER}, 
      #{memo,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{logicDel,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.northking.cloudplatform.domain.testexecute.CltRound" >
    insert into CLT_ROUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roundId != null" >
        ROUND_ID,
      </if>
      <if test="roundName != null" >
        ROUND_NAME,
      </if>
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="orderSeq != null" >
        ORDER_SEQ,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="logicDel != null" >
        LOGIC_DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roundId != null" >
        #{roundId,jdbcType=VARCHAR},
      </if>
      <if test="roundName != null" >
        #{roundName,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="orderSeq != null" >
        #{orderSeq,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDel != null" >
        #{logicDel,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.northking.cloudplatform.domain.testexecute.CltRoundExample" resultType="java.lang.Integer" >
    select count(*) from CLT_ROUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CLT_ROUND
    <set >
      <if test="record.roundId != null" >
        ROUND_ID = #{record.roundId,jdbcType=VARCHAR},
      </if>
      <if test="record.roundName != null" >
        ROUND_NAME = #{record.roundName,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.orderSeq != null" >
        ORDER_SEQ = #{record.orderSeq,jdbcType=INTEGER},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logicDel != null" >
        LOGIC_DEL = #{record.logicDel,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CLT_ROUND
    set ROUND_ID = #{record.roundId,jdbcType=VARCHAR},
      ROUND_NAME = #{record.roundName,jdbcType=VARCHAR},
      PLAN_ID = #{record.planId,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=DATE},
      END_DATE = #{record.endDate,jdbcType=DATE},
      ORDER_SEQ = #{record.orderSeq,jdbcType=INTEGER},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      LOGIC_DEL = #{record.logicDel,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.northking.cloudplatform.domain.testexecute.CltRound" >
    update CLT_ROUND
    <set >
      <if test="roundName != null" >
        ROUND_NAME = #{roundName,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="orderSeq != null" >
        ORDER_SEQ = #{orderSeq,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logicDel != null" >
        LOGIC_DEL = #{logicDel,jdbcType=CHAR},
      </if>
    </set>
    where ROUND_ID = #{roundId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.northking.cloudplatform.domain.testexecute.CltRound" >
    update CLT_ROUND
    set ROUND_NAME = #{roundName,jdbcType=VARCHAR},
      PLAN_ID = #{planId,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      ORDER_SEQ = #{orderSeq,jdbcType=INTEGER},
      MEMO = #{memo,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      LOGIC_DEL = #{logicDel,jdbcType=CHAR}
    where ROUND_ID = #{roundId,jdbcType=VARCHAR}
  </update>
</mapper>